.heading{
    margin-top: 200px;
    margin-bottom: 80px;
    margin-left: 80px;
}
.form-content{
    margin-top: -180px;
    margin-left: 50px;
    padding-right: 10px;
}
.heading-inside-confirm{
    margin-left: 190px;
}

.heading-inside-new{
    margin-left: 255px;
}

input {
    border: 1px solid gray;
}

input[type="password"]::placeholder { 
                  
    text-align: right;
    size: 90%;
}

button{
    margin-left: 150px;
    padding: 10px ;
    background-color: #A7C7E7;
}
img{
    height : 500px ;
    width: 350px;
}