.container{
    position: relative;
    margin-top: 10px;
    
    border: 10px solid #3F51B5;
    padding: 10px;
    padding-left: 20px;
    padding-top: 20px;

}
.title{
    position: relative;
    margin-top: 50px;
    margin-left: 100px;
}
.btn-outline-info{
    color: blueviolet;
    
}
.btn-outline-info:hover{
    background-color: #B9D9EB;
    
}

.table-bordered{
    border: 2px solid black;
}

th , tr {
    border: 1px solid gray;
    font-size: medium;
}